body{
	font-family: arial, helvetica;
	font-size: 18px;
	background: url(img/A2.JPG);
	background-repeat: no-repeat;
	background-size:cover;
}

.menu{
	list-style: none;
	padding: 0;
	background: #F9A67C;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: ;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #FF7D5D;